{% load static %}

<html>
    <head>
        <title> s i c c a ^w^ </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" type = "text/css" href="{% static 'main/main.css' %}">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>

    <body>

           <header>

            <div class="container">
                <div class="bck_img">

                </div>
                <div class="row">

                    <div class="col-sm-6">
                            <div class="hi">
                <h1>Here's the image</h1>
            </div>

        </div>

            <div class="col-sm-6">
                    <div class="hie">
                        <div class="col-md-4">
                            <img src="{{ coin_image.coin_img.url }}" class="rounded mx-auto d-block" style="width: 350px; height: 350px; float: left;" />
                        </div>
            </div>

        </div>
            </div>
        </div>
    </header>
    </body>
</html>