{% load static %}

<html>
    <head>
        <title> s i c c a ^w^ </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" type = "text/css" href="{% static 'blog/main.css' %}">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>

           <header>

            <div class="container">
                <div class="bck_img">

                </div>
                <div class="row">

                    <div class="col-sm-6">
                            <div class="hi">
                <h1>Hello there..</h1>
                <p>feel free to criticize lole</p>
                <p>my dumb ass could only do so much xD</p>
                <p>Also, imd - this shit is annoying</p>
                <div class="inp">
                        <input type="file" id="real-file" >
                        <button type="button" id="custom" > Upload File <3 </button>
                        <span id="cus_text"> No file chosen, yet </span>
                    </div>
            </div>

        </div>

            <div class="col-sm-6">
                    <div class="hie">
                    <p>iMaGe pReViEw hERe .-. </p>
            </div>

        </div>
            </div>
        </div>
    </header>
    </body>
</html>